.navbar {
    background: linear-gradient(to bottom, var(--navbar-bg-start), var(--navbar-bg-end));
    color: var(--navbar-text);
    fill: var(--navbar-text);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px 16px 12px;
}